<div class="mb-2 flex items-center p-2">
    <div class="mr-4 hidden border-2 border-gray-100 text-sm shadow-lg md:flex"><button
            class="group relative flex h-16 w-10 items-center justify-center bg-primary-clear transition-all hover:w-40 text-black">
            <h6 class="invisible group-hover:visible"> #d4eaf7 </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-primary-dull transition-all hover:w-40 text-black">
            <h6 class="invisible group-hover:visible"> #b6ccd8 </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-primary-visible transition-all hover:w-40 text-white">
            <h6 class="invisible group-hover:visible"> #3b3c3d </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-accent-clear transition-all hover:w-40 text-white">
            <h6 class="invisible group-hover:visible"> #71c4ef </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-accent-dull transition-all hover:w-40 text-white">
            <h6 class="invisible group-hover:visible"> #00668c </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-bg transition-all hover:w-40 text-black">
            <h6 class="invisible group-hover:visible"> #fffefb </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-bg-focus transition-all hover:w-40 text-black">
            <h6 class="invisible group-hover:visible"> #f5f4f1 </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-duller transition-all hover:w-40 text-black">
            <h6 class="invisible group-hover:visible"> #cccbc8 </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-clear transition-all hover:w-40 text-white">
            <h6 class="invisible group-hover:visible"> #1d1c1c </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button><button
            class="group relative flex h-16 w-10 items-center justify-center bg-dull transition-all hover:w-40 text-white">
            <h6 class="invisible group-hover:visible"> #313d44 </h6><span
                class="invisible absolute inset-0 top-4 opacity-0 group-hover:visible"> copied!
            </span>
        </button></div>
</div><label for="my-modal-6"
    class="flex cursor-pointer items-center justify-center rounded-md bg-gray-100 px-6 py-3 text-sm text-gray-500 hover:bg-gray-200"><span
        class="material-symbols-rounded mr-2"> copy_all </span> Export</label><input type="checkbox" id="my-modal-6"
    class="modal-toggle">
<div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-slate-100"><label for="my-modal-6"
            class="btn btn-circle btn-sm absolute right-3 top-3 bg-slate-100 text-slate-600">✕</label>
        <pre class="text-sm text-slate-600">
--primary-100:#d4eaf7;
--primary-200:#b6ccd8;
--primary-300:#3b3c3d;
--accent-100:#71c4ef;
--accent-200:#00668c;
--text-100:#1d1c1c;
--text-200:#313d44;
--bg-100:#fffefb; 
--bg-200:#f5f4f1; 
--bg-300:#cccbc8;
        </pre>
        <div class="modal-actio" style="display: flex; justify-content: center; align-items: center;"><label for="my-modal-6"
                class="btn bg-slate-700 text-slate-100 hover:bg-slate-600">Copy!</label></div>
    </div>
</div>