<app-header></app-header>
<div class="relative ">
    <div class="min-w-screen relative flex min-h-screen flex-col-reverse text-black md:flex-row">
        <app-side-bar></app-side-bar>

        <div class="flex min-h-screen grow flex-col items-center">
            <app-generate class="m-8 ml-8 w-full max-w-[40rem]">
            </app-generate>

            <div class="m-2 rounded-lg">
                <div [ngSwitch]="selectedScreen">
                    <div *ngSwitchCase="screenList.DASHBOARD_SCREEN"> <app-lg-dashboard></app-lg-dashboard></div>
                    <div *ngSwitchCase="screenList.MOBILE_SCREEN"><app-mobile-app></app-mobile-app></div>
                    <div *ngSwitchCase="screenList.PORTFOLIO_SCREEN"> <app-landing></app-landing></div>
                    <div *ngSwitchCase="screenList.LANDING_SCREEN"><app-portfolio></app-portfolio></div>
                </div>
            </div>

            <app-copy class="p-4"></app-copy>
        </div>
    </div>
</div>