<div class="relative mx-4 max-h-[75rem] max-w-[22rem] rounded-2xl border-4 border-duller bg-bg shadow-2xl">
    <div class="absolute top-0 right-1/2 h-6 w-32 translate-x-1/2 rounded-b-lg bg-duller"></div>
    <div>
        <div class="mt-8 flex w-full p-4">
            <app-avatar>
            </app-avatar>

            <app-notification class="ml-auto">
            </app-notification>
        </div>
        <div class="px-4 py-4">
            <app-banner>
            </app-banner>
        </div>

        <div class="ml-4 mt-2">
            <app-stats>
            </app-stats>
        </div>

        <div class="px-4 pb-4 pt-2">
            <app-courses>
            </app-courses>
        </div>
    </div>
</div>